@media only screen and (max-width: 767px) {

.upcoming-2 {
  background-color: white;
}
.upcoming-2 h2 {
  font-family: 'Droid', serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.52;
  letter-spacing: 1px;
  color: #4c1a14;
  padding-left: 26px;
  padding-bottom: 5px;
}

.upcoming-2 h3 {
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  letter-spacing: 0.9px;
  color: #021d2c;
  padding-left: 26px;
}

.upcoming-2 p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 2.0;
  color: #021d2c;
  padding-left: 26px;
}

.involved {
  width: 100%;
  height: 278px;
  background-color: #eb503c;
}

.involved h3 {
  font-family: 'Droid', serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.52;
  letter-spacing: 1px;
  padding-left: 31px;
  color: #efe9d8;
  padding-top: 49px;
}

.involved p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  color: #efe9d8;
  padding-left: 31px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.involved a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.8px;
  padding-left: 31px;
  text-decoration: none;
  color: #efe9d8;
}

.want-to {
  width: 100%;
  background-color: #a13729;
  padding-bottom: 30px;
}

.want-to h3 {
  font-family: 'Droid', serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.52;
  letter-spacing: 1px;
  padding-left: 31px;
  color: #efe9d8;
  padding-top: 49px;
}

.want-to p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  color: #efe9d8;
  padding-left: 31px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.want-to a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.8px;
  padding-left: 31px;
  text-decoration: none;
  color: #efe9d8;
}
}

@media only screen and (min-width: 768px) {


  
}
